
*{
    padding: 0;
    margin: 0;
}
.header{
    display: flex;
    flex-direction: column;
}
.navbar{
    background-color:rgb(219, 38, 63);
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    width:100%;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    padding: 3px 3px;
    margin: 15px 15px;

}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    font-family: 'poppins' , san-serif ;
    color: wheat;
    font-size: larger;
    font-weight: 700;
}
.navbar a:hover{
background-color: rgb(87,89,135);
color: white;
text-decoration: none;
}
.maincontainer {
    background-color: rgb(37, 34, 34);
    height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'poppins' , sans-serif ;
}
.maincontainer h1{
    font-size: 3rem;
  
    color: white;
    font-family: 'raleway', sans-serif;
    font-weight: 500;
}
.maincontainer p{
    color: rgb(173, 44, 65);
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 200;
    line-height: 1.4;
}
/*.flexcontainer{
   display: flex;
   flex-basis: 15;
}
.flexcontainer2{
    display: flex;
    flex-basis: 85;
}*/
.maincontainer2{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    text-align: center;
    border-bottom: 3px solid white;
    color: white;
    margin-top: 10px;

}
.maincontainer3{
    background-color:rgb(88, 79, 79);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    
    
    

}
.item img{
    width: 340px;
    height: 340px;
    object-fit: cover;
}
.gridcontainer{
   
    display: grid;
    /*grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr 1fr;*/
    grid-template-areas: 'box1 box2 box3'
    'box4 box5 box6';
    justify-items: center;
    align-items: space-between;
    margin-top: 50px;
    margin: 10%;
    column-gap: 30px;
    row-gap: 30px;



}

/* .item img{
    height: 100%;
} */
/* .item{

    align-items: center;
    margin: 20px;

} */
.item1
{
    
    
    /* border: radius 20px; */
    grid-area: box1;
    background-color: purple;
    display: grid;
}
.text{
    display: flex;
    flex-direction: row;
    padding: 25px;
    justify-content: center;
    font-size: 18px;
    background-color: rgb(57, 57, 117);
    color: white;
}
/* .text1{
    color: white;
    font-size:large ;
    background-color: rgb(84, 84, 151);
    
} */

.item2{
  
    grid-area: box2;
    background-color: rgb(89, 89, 233);
    display: grid;
}
/* .text2{
    color: white;
    font-size:large ;
    background-color: rgb(84, 84, 151);
    
} */

.item3{
   
    grid-area: box3;
    background-color: white;
    display: grid;
}
/* .text3{
    color: white;
    font-size:large ;
    background-color: rgb(84, 84, 151);
    
} */

.item4{
    grid-area: box4;
    background-color: white;
    display: grid;

}
/* .text4{
    color: white;
    font-size:large ;
    background-color: rgb(84, 84, 151);
    
} */

.item5{
   
    grid-area: box5;
    background-color: rgb(54, 54, 124);
    display: grid;

}
/* .text5{
    color: white;
    font-size:large ;
    background-color: rgb(84, 84, 151);
    
} */

.item6{
   
    grid-area: box6;
    background-color: rgb(54, 54, 124);
    display: grid;


}
/* .text6{
    color: white;
    font-size:large ;
    background-color: rgb(84, 84, 151);
    
} */
.item1:hover {
    cursor: pointer;
  }
.item2:hover {
    cursor: pointer;
  }
  .item3:hover {
    cursor: pointer;
  }
  .item4:hover {
    cursor: pointer;
  }
  .item5:hover {
    cursor: pointer;
  }
  .item6:hover {
    cursor: pointer;
  }
  
  .item1:hover.sign {
    display: block;
  }
  .item2:hover.sign {
    display: block;
  }
  .item3:hover.sign {
    display: block;
  }
  .item4:hover .sign {
    display: block;
  }
  .item5:hover .sign{
    display: block;
  }
  .item6:hover .sign{
    display: block;
  }
  .sign{
    display: none;
    color: brown;
  }
.addbutton{
   padding:50px;
   display: flex;
   justify-content: center;
  }
  .button1{
    padding:15px ;
    background-color: #303841;
    color: white;
    border: none;
    font-size: 1.2rem;
  }
  .button1:hover{
    background-color: brown;
    border-radius: 3px;
  }
